* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.85;
  text-decoration: underline;
}

/* Navigation */
nav {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
  height: 30px;
}

.nav-left {
  display: flex;
  width: 200px;
  float: left;
  justify-content: flex-start;
}

nav a {
  margin: 0px 5px 0px 5px;
}

.nav-right {
  display: flex;
  width: 181.6px;
  float: right;
  justify-content: flex-end;
}

/* Main Content */

.logo {
  height: 233px;
  display: flex;
  justify-content: center;
}

.logo img {
  margin-top: 109px;
  height: 92px;
}

.search-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 70px 70px;
  margin: auto;
  width: 584px;
}

.search-bar {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  height: 44px;
  background-image: url(images/search.svg) no-repeat;
  border: solid 1px #dfe1e5;
  border-radius: 24px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.search-bar input {
  border: 0;
  margin-left: 40px;
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
}

.search-container svg {
  height: 20px;
  width: 20px;
  z-index: 1;
  margin-top: 15px;
  margin-left: 15px;
  grid-row: 1;
  grid-column: 1;
}

.search-container button {
  background-color: #f8f9fa;
  box-shadow: 0;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-size: 14px;
  font-family: arial, sans-serif;
}

.search-container button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.search-button{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  height: 36px;
  margin-right: 5px;
}

.lucky-button {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  height: 36px;
  margin-left: 5px;
}


/* Footer */

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  line-height: 40px;
  color: #70757a;
  background-color: #f2f2f2;
  border-top: 1px solid #dadce0;
}

.footer-left {
  display: flex;
  width: 500px;
  float: left;
  justify-content: flex-start;
  margin-left: 30px;
}

.footer-right {
  display: flex;
  width: 500px;
  float: right;
  justify-content: flex-end;
  margin-right: 30px;
}

footer a {
  padding-left: 27px;
}