* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.85;
  text-decoration: underline;
}

/* Navigation */
nav {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
  height: 30px;
}

.nav-left {
  display: flex;
  width: 200px;
  float: left;
  justify-content: space-evenly;
}

.nav-right {
  display: flex;
  width: 181.6px;
  float: right;
  justify-content: space-evenly;
}

/* Main Content */

.logo {
  height: 233px;
  display: flex;
  justify-content: center;
}

.logo img {
  margin-top: 109px;
  height: 92px;
}

.search {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 70px 70px;
  margin: auto;
  width: 584px;
}

.search-bar {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  height: 44px;
  border-radius: 25px;
  background-image: url(images/search.svg) no-repeat;
}

.search-button{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  height: 36px;
}

.search svg {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  height: 20px;
  width: 20px;
  z-index: 1;
  margin-top: 15px;
  margin-left: 15px;
}

.lucky-button {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  height: 36px;
}


/* Footer */